<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="helloWorld" class="gg.aop.HelloWorld"></bean>
	<bean id="logAspect" class="gg.aop.LogAspect"></bean>

	<aop:config>
		<!-- 切面 -->
		<aop:aspect ref="logAspect">
			<!-- 前置通知 -->
			<aop:before method="beforeExecute"
				pointcut="execution(public * gg.aop.HelloWorld.hello(..))" />
			<!-- 后置通知 -->
			<aop:after method="afterExecute"
				pointcut="execution(public * gg.aop.HelloWorld.hello(..))" />

		</aop:aspect>

	</aop:config>

</beans>